.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header__home{
  background-color: #3b75e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: url(./../video/xps-2L-0vnCnzcU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

img{
  width: 100%;
}

.App_about__card{
  display: flex;
  justify-content: space-between;
}

.App_project{
  background-color: burlywood;
  min-height: 100vh;
}

.adress{
  display: block;
}

.App_about {
  background-color: antiquewhite;
  min-height: 100vh;
}

App_project{
  background-color: #b1dfec;
}

.second_header{
  position: fixed;
}

.about_announcement{
 font-size: 20px;
 display: flex;
 justify-content: center;
 padding-top: 25%;
}
Contact{
  background-color: #1990b1;
}
.App-link {
  color: #61dafb;
  min-height: 100vh;
}


ul li{
  list-style:none;
}

.selected{
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width:650px){
  div ul{
    display: flex;
    justify-content: space-evenly;
  }
  
  ul li{
    list-style:none;
  }  
}